@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

img,
picture,
video,
canvas,
svg,
iframe {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: hsl(267deg, 73%, 3%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.grid-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(275px, 100%), 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box {
  background-color: hsl(0deg, 0%, 100%);
  margin: 3rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 50rem;
}
@media (min-width: 800px) {
  .box {
    margin-inline: auto;
  }
}

.header {
  font-family: "Cabin", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

.sub-header {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.section-header {
  font-family: "Cabin", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

.mandatory-field {
  color: hsl(327deg, 89%, 44%);
  font-weight: 500;
}

.button {
  background-color: hsl(158deg, 92%, 62%);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  text-decoration: none;
  color: inherit;
  text-align: center;
}
.button:hover, .button:focus {
  background-color: hsl(158deg, 92%, 82%);
}

.paragraph {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: hsl(0deg, 0%, 100%);
  padding: 1rem;
}
.header__main a {
  text-decoration: none;
  color: inherit;
}
.header__main .header__hamburger {
  --var-color: $clr-dark;
  background: transparent;
  border: none;
  overflow: hidden;
  z-index: 200;
}
.header__main .header__hamburger .hamburger {
  stroke: hsl(267deg, 73%, 3%);
}
.header__main .header__hamburger[aria-expanded=true] .hamburger {
  translate: 2.5px -2.5px;
  rotate: 0.125turn;
  stroke: hsl(0deg, 0%, 100%);
}
.header__main .header__hamburger[aria-expanded=true] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}
.header__main .header__hamburger .hamburger {
  -webkit-transition: translate 1000ms, rotate 1000ms;
  transition: translate 1000ms, rotate 1000ms;
}
.header__main .header__hamburger .line {
  -webkit-transition: 1000ms;
  transition: 1000ms;
  stroke-dasharray: 60 31 60 300;
}
@media (min-width: 600px) {
  .header__main .header__hamburger {
    display: none;
  }
}
.header__main .header__navigation {
  position: fixed;
  z-index: 100;
  inset: 0 0 0 40%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  gap: 1.5rem;
  padding: min(20rem, 15vh) 2rem;
  background-color: black;
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  color: hsl(0deg, 0%, 100%);
  font-size: 1.25rem;
}
.header__main .header__navigation .header__languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}
.header__main .header__navigation[data-visible=true] {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
@media (min-width: 600px) {
  .header__main .header__navigation {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    padding: 0;
    inset: 0;
    background-color: hsl(0deg, 0%, 100%);
    color: hsl(267deg, 73%, 3%);
  }
}

.hero {
  position: relative;
}
.hero .hero__image {
  background-image: url(../images/pexels-cottonbro-studio-4669107.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
}
@media (min-width: 800px) {
  .hero .hero__image {
    background-image: url(../images/pexels-cottonbro-studio-4669113.jpg);
  }
}
.hero .hero__text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: hsl(0deg, 0%, 100%);
  width: 100%;
  padding: 1rem;
  text-align: center;
}
.hero .hero__text-container .hero__quotes {
  font-family: "Cabin", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 2rem;
}
.hero .hero__text-container .hero__writer {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
}

.contact-form {
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
}
.contact-form .contact-form__box {
  display: grid;
  gap: 0.75rem;
}
.contact-form .contact-form__box .contact-form__input {
  display: grid;
}
.contact-form .contact-form__box .contact-form__input label {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}
.contact-form .contact-form__box .contact-form__input input,
.contact-form .contact-form__box .contact-form__input textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(300deg, 1%, 44%);
}
.contact-form .contact-form__box .contact-form__input textarea {
  resize: vertical;
  height: 100px;
}
.contact-form .contact-form__box .contact-form__input .contact-form__button-text {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}

.contact-information iframe {
  width: 100%;
  height: 300px;
  border: none;
}
.contact-information .contact-information__content {
  display: grid;
  gap: 0.75rem;
  padding: 1.5rem;
}
.contact-information .contact-information__content .contact-information__data h3 {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}

.offer .grid-group {
  grid-template-areas: "picture" "content";
}
@media (min-width: 600px) {
  .offer .grid-group {
    grid-template-areas: "picture content";
  }
  .offer .grid-group:nth-child(even) {
    grid-template-areas: "content picture";
  }
}
.offer .offer__picture {
  grid-area: picture;
}
.offer .offer__picture img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.offer .offer__content {
  grid-area: content;
  display: grid;
  gap: 0.5rem;
  padding: 1.5rem;
}
.offer .offer__content .offer__description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.offer .offer__content .button {
  margin-block: 1.5rem;
}
@media (min-width: 600px) {
  .offer .offer__content .button {
    margin-bottom: 0;
  }
}

.reviews {
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
  text-align: center;
}
.reviews .section-header {
  color: hsl(267deg, 73%, 3%);
  padding-block: 1.5rem;
}
.reviews .grid-group {
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
}
.reviews .grid-group .box {
  margin: 0;
}
.reviews .reviews__card {
  padding: 1.5rem;
  border: 2px solid hsl(267deg, 73%, 3%);
  display: grid;
  gap: 0.5rem;
}
.reviews .reviews__card .reviews__quotes {
  font-family: "Cabin", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1rem;
}
.reviews .reviews__card .reviews__sender {
  display: grid;
  line-height: 1.2;
}
.reviews .reviews__card .reviews__sender .reviews__sender-name {
  font-family: "Cabin", sans-serif;
  font-style: italic;
}
.reviews .reviews__card .reviews__sender .reviews__sender-status {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}
.reviews .reviews__certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews .reviews__certificate .reviews__header {
  font-family: "Cabin", sans-serif;
  font-weight: 500;
  color: hsl(267deg, 73%, 3%);
  font-size: 1.5rem;
}

.about-me .about-me__header {
  display: grid;
  gap: 0.5rem;
  padding: 1.5rem;
  text-align: center;
}
.about-me .about-me__picture img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-me .about-me__content {
  display: grid;
  gap: 0.5rem;
  padding: 1.5rem;
}
.about-me .about-me__content .about-me__description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.about-me .about-me__content .button {
  margin-block: 1.5rem;
}
@media (min-width: 600px) {
  .about-me .about-me__content .button {
    margin-bottom: 0;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: hsl(158deg, 92%, 62%);
  padding: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 500px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 1500ms;
  transition: all 1500ms;
}
@media (prefers-reduced-motion) {
  .hidden {
    -webkit-transition: none;
    transition: none;
  }
}

.show {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/* The progress container (grey background) */
.progress-container {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 0.5rem;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 0.5rem;
  background: hsl(158deg, 92%, 62%);
  width: 0%;
}

#navbar {
  -webkit-transition: top 500ms;
  transition: top 500ms;
}

#more {
  display: none;
}

.image-logo {
  height: 60px;
  aspect-ratio: 1/1;
}