.Container {
  text-align: center;
  font-style: italic;
  font-size: clamp(1.75rem, 5vw, 2.5rem);
  line-height: 1.1;
  width: 80%;
  font-family: "Cabin", sans-serif;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
}